.pagepercent-container {
  position: fixed;
  top: 0;
  //   background-color: cornflowerblue;
  width: 100%;
  height: 50px;
  display: flex;
  align-items: flex-end;
  .gif {
    // position: absolute;
    width: 50px;
    &.down {
      transform: scaleX(-1);
    }
  }
  .bar {
    max-width: 100%;
    min-width: 0%;
    height: 2px;
    background-color: #ff18af;
    z-index: 10;
  }
}
