.bottom-container {
  display: flex;
  justify-content: center;
  .ctm-btn-container {
    margin-top: 100px;
    width: 50%;
    display: flex;
    justify-content: space-around;
    .ctm-btn {
      padding: 14px;
      border: 1px solid #dbdbdb;
      width: 150px;
      text-align: center;
      height: 50px;
      cursor: pointer;
    }
  }
}
