.upto-container {
  margin: 30px auto;
  width: 500px;
  word-break: keep-all;

  .content1 {
    height: 200px;
    animation: upto 1.5s infinite;
    span {
      display: inline-block;
    }
  }
}

@keyframes upto {
  0% {
    opacity: 0;
    padding-top: 30px;
  }

  100% {
    opacity: 1;
  }
}

@for $i from 0 through 100 {
}
